/* ----------------------------------------------------------
            Color Guide

gold: rgb(172, 140, 71)
white: rgb(226, 226, 226)
grey: rgb(128, 128, 128)
black: rgb(15, 15, 15)
black: rgba(15, 15, 15, 0.74)

------------------------------------------------------------*/

/* ----------------------------------------------------------
            Global Styles
------------------------------------------------------------*/



body {
  font-size: 19px;
  font-family: 'Alegreya', serif;
}

h1, h2, h3 {
  font-family: 'Alegreya', "Times New Roman", serif;
}

h1 {
  font-size: 3.3684em;
  line-height: 1.2656em;
  margin-top: 0.4219em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2558em;
  margin: 0.4219em auto 0.4219em auto;
}

h3 {
  font-size: 1.52em;
  font-weight: normal;
  line-height: 1.86em;
  margin-top: 0.93em;
  margin-bottom: 0; 
}

p {
  font-size: 1em;
  line-height: 1.42em;
  margin-top: 1.42em;
  margin-bottom: 0;
}

img {
  width: 100%;
}

a:link {
  color: rgb(172, 140, 71);
}

  a:visited {
    color: rgb(100, 81, 41);
  }

  a:hover {
    color: rgb(239, 213, 158);
  }  

  a:active {
    color: rgb(252, 217, 142);
  }

/* ----------------------------------------------------------
            Global Footer Styles
------------------------------------------------------------*/

footer {
  padding: 10px 0;
}

footer h4 {
  text-transform: uppercase;
}

footer p {
  margin: 0;
}

